<wm-partial data-ng-controller="footerPageController" name="footer">
    <wm-layoutgrid rows="1" columns="2" height="auto" name="footerlayout">
        <wm-gridrow name="footerrow">
            <wm-gridcolumn name="footerleft" verticalalign="bottom">
                <wm-label caption="Powered by WaveMaker" textalign="left" name="poweredby" width="100%"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright">
                <wm-label caption="Copyright 2014 eShop" textalign="right" name="copyright" width="100%"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>