<wm-page layouttype="two-column" columns="2" data-ng-controller="CategoryPageController" name="page1">
    <wm-header content="header" name="header" backgroundcolor="#005387" class="eshop-header" height="6em"></wm-header>
    <wm-top-nav name="nav-bar-primary" backgroundcolor="#0a3151" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-left-panel contentwidth="2" name="left-panel1" class="menu-panel">
                <wm-list name="categoryMenuList" class="category-menu-list">
                    <wm-list-item name="list-item5" data-ng-repeat="product in productsList">
                        <wm-anchor name="anchor5" class="menu-link" caption="{{product.dataValue}}" href="#/Category/{{product.dataValue}}" data-ng-class="{'active': product.dataValue===activeCategory}"></wm-anchor>
                    </wm-list-item>
                </wm-list>
            </wm-left-panel>
            <wm-column class="app-content-column" columnwidth="10" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label name="label5" caption="bind:Variables.selectedCategory.dataSet.dataValue" fontsize="1.3" fontunit="em"></wm-label>
                <wm-livelist name="productList" data-ng-controller="productListController" dataset="bind:Variables.products.dataSet" class="products" shownavigation="true">
                    <wm-listtemplate name="productsTemplate" itemclass="col-md-2">
                        <a href="#/Products/{{item.id}}">
                            <wm-picture name="product_thumb" picturesource="bind:Variables.products.dataSet.imgUrl" pictureaspect="None" class="product-thumb"></wm-picture>
                            <wm-row name="row2">
                                <wm-label caption="$" fontweight="bold" name="label3" color="#000000" width="1.5em"></wm-label>
                                <wm-label name="product_price" caption="bind:Variables.products.dataSet.price" fontweight="bold" width="4.5em" color="#000000" margintop="10"></wm-label>
                            </wm-row>
                            <wm-label name="product_name" class="product-name" marginright="15" caption="bind:Variables.products.dataSet.name" width="100%" fontsize="0.8" hint="{{item.name}}" fontunit="em" color="#464646"></wm-label>
                        </a>
                    </wm-listtemplate>
                </wm-livelist>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>